In [1]:
import pandas as pd
import numpy as np

print(pd.__version__) # 0.23.4
print(np.__version__)   # numpy version

1.4.2
1.22.3

In [8]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')
rows = tuple(range(n_rows))

df = pd.DataFrame(np.random.randint(1, 5, (n_rows, n_cols)), columns=cols, index=rows)
print(df)

   A  B  C  D  E
0  3  2  1  4  2
1  4  3  1  4  3
2  3  1  1  2  4
3  2  4  1  1  3
4  1  3  2  3  2
5  2  3  4  1  2
6  2  1  4  4  1
7  4  1  2  2  2
8  3  4  2  2  4
9  2  2  4  4  1

In [10]:
df[(df['A'] == 1) | (df['A'] == 3)]

   A  B  C  D  E
0  3  2  1  4  2
2  3  1  1  2  4
4  1  3  2  3  2
8  3  4  2  2  4

In [9]:
df[df['A'].isin([1, 3])]

   A  B  C  D  E
0  3  2  1  4  2
2  3  1  1  2  4
4  1  3  2  3  2
8  3  4  2  2  4

In [11]:
df[~df['A'].isin([1, 3])]

   A  B  C  D  E
1  4  3  1  4  3
3  2  4  1  1  3
5  2  3  4  1  2
6  2  1  4  4  1
7  4  1  2  2  2
9  2  2  4  4  1