In [1]:
import pandas as pd
print(pd.__version__)

1.4.2

In [6]:
data = {'col1': ['1', '2', '3', 'teks'], 
        'col2': ['4', '5', '6', '7']}
df = pd.DataFrame(data)
df

   col1 col2
0     1    4
1     2    5
2     3    6
3  teks    7

In [5]:
df.dtypes

col1    object
col2    object
dtype: object

In [15]:
df_x = df.astype({'col2': 'float'})
df_x

   col1  col2
0     1   4.0
1     2   5.0
2     3   6.0
3  teks   7.0

In [13]:
df_x.dtypes

col1     object
col2    float64
dtype: object

In [17]:
df.apply(pd.to_numeric, errors='coerce')

   col1  col2
0   1.0     4
1   2.0     5
2   3.0     6
3   NaN     7